<AuthorizeView>
    <Authorized>
        <FluentAnchor Href="Identity/Account/Manage" Appearance="Appearance.Filled"><FluentLabel Color="Color.Fill"> @context.User.Identity?.Name　さん</FluentLabel></FluentAnchor>
        <form method="post" action="Identity/Account/LogOut">
            <FluentButton type="ButtonType.Submit" Appearance="Appearance.Neutral">ログアウト</FluentButton>
        </form>
    </Authorized>
    <NotAuthorized>
        <FluentAnchor Href="Identity/Account/Register">あびや登録</FluentAnchor>
        <FluentAnchor Href="Identity/Account/Login">ログイン</FluentAnchor>
    </NotAuthorized>
</AuthorizeView>
