@attribute [Authorize]
@page "/neta"
@using BlazorServerChat2.Data

@inject ApplicationDbContext DbContext

<h3>ほのかさんのネタ帳追加</h3>

<FluentTextField @bind-Value="@TextboxValue" />
<FluentButton OnClick="@onclick" Text="追加" />
<br />
例）「はどこのプロ野球チームが好きなの？」と入れると「○○さんはどこのプロ野球チームが好きなの？」と質問してくれます。
@if (NetaMastars != null)
{
    <FluentDataGrid Items=@NetaMastars.AsQueryable() >
            <PropertyColumn Property="@(p => p.Neta)" Title="ほのかさんのネタ帳" />
    </FluentDataGrid>
}
@code {
    string TextboxValue = string.Empty;

    IEnumerable<NetaMastar>? NetaMastars;

    protected override void OnInitialized()
    {
        NetaMastars = DbContext.NetaMastar.ToList();
    }

    void onclick()
    {
        NetaMastar neta = new NetaMastar();
        neta.Neta = TextboxValue;
        DbContext.Add(neta);
        DbContext.SaveChanges();
        TextboxValue = "";
        NetaMastars = DbContext.NetaMastar.ToList();
    }
}
