@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "あびやアカウント登録確認";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    <a id="confirm-link" href="@Model.EmailConfirmationUrl">あびやアカウント登録の時に必ずここをクリックする</a>その後、ログインしてください。
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

